@charset "UTF-8";
::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */ }

* {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 20px; }

form {
  width: 250px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  form > * {
    margin-bottom: 10px; }
  form input, form button {
    max-width: 150px;
    height: 30px; }

#house {
  border-collapse: collapse;
  border: 2px solid #FF6450;
  width: 400px;
  margin-right: 50px; }
  #house td {
    padding: 0;
    height: 200px;
    border: 2px solid #FF6450; }
    #house td .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  #house td:first-child {
    padding-right: 30px;
    width: 250px;
    vertical-align: middle; }

.button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: #FF6450;
  font-weight: bold;
  font-size: 25px;
  border-radius: 50%;
  background: #FFB5BD;
  border: 1px solid #FF6450; }

#lift {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px solid #000;
  background: url("/1.jpg") no-repeat center;
  background-size: cover; }

#tbody {
  vertical-align: unset; }

.wrapper-panel {
  position: fixed;
  left: 488px;
  max-width: 304px;
  max-height: 466px;
  border: 2px solid #FF6450;
  background: #FFB5BD; }
  .wrapper-panel #tablo {
    color: #FF6450;
    font-weight: bold;
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90px;
    padding: 20px;
    border-bottom: 2px solid #FF6450; }
  .wrapper-panel #panel {
    padding: 0 20px 20px 0;
    max-width: 304px;
    max-height: 370px;
    overflow-y: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .wrapper-panel #panel .button {
      margin: 20px 0 0 20px; }

#wrapper-lift {
  max-width: 772px;
  display: none;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

#info {
  height: 70px;
  width: 304px;
  border-bottom: 2px solid #FF6450;
  position: fixed;
  background: #FFB5BD; }

#info-n {
  position: absolute;
  left: 20px;
  top: 30px; }
  #info-n #nomer {
    margin: 0 10px; }
